*
!index.html
!styles.css
!script.js
!.gitignore
!.nojekyll
!CNAME
!assets/
!assets/consultorio-sem-pessoas-bg-blur.jpg
!assets/dra-lara-sobre-atendimento-clean-img4390.jpg
!assets/favicon-dra-lara-symbol.png
!assets/hero-bg-consultorio-real-pexels.jpg
!assets/lara-recorte-semfundo-hero.png
!assets/lara-semfundo-hero.png
!assets/logo-dra-lara-symbol.png
!assets/logo-dra-lara-symbol-header.png

.vercel
.env*
